/* This stylesheet is used to style the public-facing components of the plugin. */

/* START: Recommended Isotope styles */

/* Isotope filtering */

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/* Isotope CSS3 transitions */

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/* disabling Isotope CSS3 transitions */

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* END: Recommended Isotope styles */

/* Plugin-specific styles */

#filters {
	list-style: none;
   margin: 0 0 1em 0;
}

#filters li {
	float: left;
	border: 1px solid #ededed;
	margin: 0 .5em 1em 0;
}

#filters li a {
	text-decoration: none;
	padding: .5em 1em;
   display: block;
}

.iso-container {
   clear: both;
}

#iso-loop {
   display: none;
   list-style: none;
   margin: 0;
}

#iso-loop li {
   width: 30.5%;
   margin: 0 2.5% 2.5% 0;
   -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h2.iso-title a {
	text-decoration: none;
}

.iso-thumb {
	width: auto;
	margin-bottom: .5em;
}

.iso-thumb img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.more-iso-posts {
   display: none;
}

.iso-posts-loading {
   margin: 0 auto;
   text-align: center;
}

.iso-posts-loading img {
   display: block;
   margin: 0 auto;
   box-shadow: none !important;
   border: 0;
}
